@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Blood Bank System</h1>
    <p>This system allows you to manage blood collections, donors and nurses</p>
</div>
